{{ template "layout" .}}

{{ define "konten" }}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Artikel</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/artikelwrite">Here</a></li>
                <li class="breadcrumb-item active">Tulis Artikel</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form action="/save" method="POST" enctype="multipart/form-data">
                            <div class="card-title">
                                <div class="form-floating mb-3">
                                    <input name="judul" type="text" class="form-control" id="floatingInputJudul"
                                        placeholder="Masukan judul artikel" required>
                                    <label for="floatingInputJudul">Judul</label>
                                </div>
                            </div>
                            <textarea class="tinymce-editor" name="isi" required>
                                <p>Hii..</p>
                            </textarea>

                            <div class="form-floating mb-3" style="margin-top: 20px;">
                                <input type="text" class="form-control" id="floatingInputJudul"
                                    placeholder="Masukan tag artikel" name="tag">
                                <label for="floatingInputJudul">Tag (optional)</label>

                                <input type="hidden" name="tahun" value="0">
                                <input type="hidden" name="bulan" value="0">
                            </div>

                            <div class="form-floating mb-3" style="margin-top: 20px;">
                                <b>Thumbnail</b>
                                <div class="col-sm-12">
                                    <input class="form-control" name="thumb" type="file" accept="image/png, image/jpeg" />
                                </div>
                            </div>

                            <div class="form-floating mb-3" style="margin-top: 20px;">
                                <input type="hidden" name="tipe" value="artikel">
                                <button style="width: 100%;" class="btn btn-primary" type="submit">Post Artikel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{ end }}